


.layout-ccontas {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8rem;
    gap: 1.2rem;
}

.layout-ccontas h3{
    background: transparent;
    color: #696969;
}

.layout-ccontas span{
    background: transparent;
    color: #696969;
}

.layout-ccontas span:active{
    color: #000;
}